.form-login {
  .help-block {
    text-align: center;
    color: red;
  }
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .form-control {
    max-width: 300px;
    margin: auto;
  }

  #InputUsername {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #InputPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  label {
    text-align: center;
  }

  .checkbox {
    font-weight: 400;
  }

  .form-group:focus-within {
    z-index: 2;
  }
}

#FormGeneratedOrderPriceForYear {
  .hidden {
    display: none;
  }
}

#FormGeneratedOrderRealizationPeriod {
  .hidden {
    display: none;
  }
}

#FormGeneratedOrderCompareForYear {
  .hidden {
    display: none;
  }
}
