@import "vars";
html,
body {
  height: 100%;
  background-color: #ecece7;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 20px;
}

.h-sup {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

@import "form";

@import "table";

.block-name {
  position: relative;
  padding: 5px 0 10px 0;

  p {
    color: #333333;
    margin: 0;
    text-align: center;
    line-height: 1.2;
  }
}
.block-role {
  position: relative;
  padding: 0 0 15px 0;
  p {
    color: #003274;
    margin: 0;
    text-align: center;
    line-height: 1.2;
  }
}

.btn-primary {
  background-color: $color2;
  &:hover {
    background-color: $color1;
  }
}

.btn-success {
  background-color: $color1;
  &:hover,
  &:active,
  &:target {
    background-color: $color2;
  }
}

.btn-danger {
  background-color: $color10;
  &:hover,
  &:active,
  &:target {
    background-color: $color10;
  }
}
